<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allfinish"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <application
        android:name="com.allfinish.app.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.allfinish.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 方法一对应的 activity -->
        <activity android:name="com.allfinish.method.first.SignUpActivity" >
            <intent-filter>
                <action android:name="com.allfinish.method.first.signupactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.allfinish.method.first.FirstStep" />
        <activity android:name="com.allfinish.method.first.SecondStep" />
        <activity android:name="com.allfinish.method.first.ThirdStep" />
        <activity android:name="com.allfinish.method.first.FourthStep" />
        <!-- 方法二对应的 activity -->
        <activity android:name="com.allfinish.method.second.SignUpActivity" >
            <intent-filter>
                <action android:name="com.allfinish.method.second.signupactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.allfinish.method.second.FirstStep" />
        <activity android:name="com.allfinish.method.second.SecondStep" />
        <activity android:name="com.allfinish.method.second.ThirdStep" />
        <activity android:name="com.allfinish.method.second.FourthStep" />
        <!-- 方法三对应的 activity -->
        <activity android:name="com.allfinish.method.third.SignUpActivity" >
            <intent-filter>
                <action android:name="com.allfinish.method.third.signupactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.allfinish.method.third.FirstStep" />
        <activity android:name="com.allfinish.method.third.SecondStep" />
        <activity android:name="com.allfinish.method.third.ThirdStep" />
        <activity android:name="com.allfinish.method.third.FourthStep" />
        <!-- 方法四对应的 activity -->
        <activity android:name="com.allfinish.method.fourth.SignUpActivity" >
            <intent-filter>
                <action android:name="com.allfinish.method.fourth.signupactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.allfinish.method.fourth.FirstStep" />
        <activity android:name="com.allfinish.method.fourth.SecondStep" />
        <activity android:name="com.allfinish.method.fourth.ThirdStep" />
        <activity android:name="com.allfinish.method.fourth.FourthStep" />
        <!-- 方法五对应的 activity -->
        <activity android:name="com.allfinish.method.fifth.SignUpActivity" >
            <intent-filter>
                <action android:name="com.allfinish.method.fifth.signupactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.allfinish.method.fifth.FirstStep" />
        <activity android:name="com.allfinish.method.fifth.SecondStep" />
        <activity android:name="com.allfinish.method.fifth.ThirdStep" />
        <activity android:name="com.allfinish.method.fifth.FourthStep" />
    </application>

</manifest>